@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background: #222222;
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
}

.hsf-text{
  font-family: 'Inter Tight', sans-serif;
  color: #ffffff;
  text-align: -webkit-center;
}
