@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background: #000000;
}

.hsf-text{
  font-family: 'Inter Tight', sans-serif;
  color: #ffffff;
  text-align: -webkit-center;
}

.fade-in { 
  animation: fadeIn  0.5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.headline{
  transition: background-color 0.7s
}

.headline:hover{
  background-color: red
}

