@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background: #000000;
}

.hsf-text{
  font-family: 'Inter Tight', sans-serif;
  color: #ffffff;
  text-align: -webkit-center;
}

.fade-in { 
  animation: fadeIn  0.5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.headline{
  transition: filter 1s;
  transition: letter-spacing 1s;
}

.headline:hover{
  /*filter: blur(2px);*/
  letter-spacing: 5px;
}

.headimg{
  width: 40%;
  text-align: center;
  margin: 0px;
  margin-left: 32.5%;
}

.gradient{
  background: linear-gradient(rgb(255,0,0), rgb(255, 149, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
